<div id="menu">
    <div th:each="category : ${T(pheninux.xdev.gestork.core.dish.model.Category).values()}">
        <h2 th:text="${category.description}" class="category-title"></h2>
        <div class="dish" th:each="dish : ${dishes}" th:if="${dish.category.getDescription() == category.getDescription()}">
            <img th:src="'data:image/png;base64,' + ${dish.image}" th:alt="${dish.name}" class="dish-image"/>
            <div class="details">
                <div class="description">
                    <h3 th:text="${dish.name}" class="dish-name"></h3>
                    <span th:if="${dish.isAvailable()}" class="availability available">Disponible</span>
                    <span th:if="${dish.isNotAvailable()}" class="availability unavailable">N'est pas disponible.</span>
                    <span th:if="${dish.isComingSoon()}" class="availability coming-soon">À venir bientôt !</span>
                    <p th:text="${dish.description}" class="dish-description"></p>
                </div>
                <div class="price">
                    <span th:id="${dish.name}" th:text="${dish.price}+' €'" class="dish-price"></span>
                    <i th:if="${dish.isAvailable()}" class="fas fa-plus-circle add-to-cart-icon"
                       th:data-id="${dish.dishId}"
                       th:data-name="${dish.name}"
                       th:data-price="${dish.price}"
                       onclick="addToCart(this.dataset.id,this.dataset.name, this.dataset.price)"></i>
                </div>
            </div>
            <div th:if="${dish.isSpecialPrice()}" class="alert-price-special">
                <span>Prix spécial !</span>
            </div>
        </div>
    </div>
</div>