<div id="dishesContainer">
    <div th:each="category : ${T(pheninux.xdev.gestork.core.dish.model.Category).values()}">
        <h2 th:text="${category.description}"></h2>
        <div class="dish" th:each="dish : ${dishes}" th:if="${dish.category.getDescription() == category.getDescription()}">
            <img th:src="'data:image/png;base64,' + ${dish.image}" th:alt="${dish.name}"/>
            <div class="details">
                <div class="description">
                    <h3 th:text="${dish.name}"></h3>
                    <p th:text="${dish.description}"></p>
                </div>
                <div class="form-container">
                    <form id="updateForm" th:action="@{/api/admin/dish/update/{id}(id=${dish.id})}"  method="post" hx-target="#dishesContainer" hx-swap="innerHTML" style="display:flex; flex-direction: column;">
                        <div class="form-group">
                            <label for="oldPrice" th:text="'Ancien prix'"></label>
                            <input type="number" id="oldPrice" name="oldPrice" th:value="${dish.price}" readonly/>
                            <span class="euro-symbol">€</span>
                        </div>
                        <div class="form-group">
                            <label for="newPrice">Nouveau prix</label>
                            <input type="number" id="newPrice" name="newPrice" placeholder="Entrez le nouveau prix" step="0.01" min="0" required/>
                            <span class="euro-symbol">€</span>
                        </div>
                        <div class="form-group">
                            <label for="specialPrice">Prix spécial</label>
                            <input type="checkbox" id="specialPrice" name="specialPrice" th:checked="${dish.isSpecialPrice()}"/>
                        </div>
                        <div class="button-container" style="display: flex; justify-content: center;">
                            <input id="dishId" type="hidden" th:value="${dish.getId()}">
                            <button type="button" class="button" onclick="showUpdateConfirmationModal(this)" style="border: none; background: none;">
                                <i class="fas fa-save" style="color: #4caf50; font-size: 24px;"></i>
                                <span class="tooltip">Mettre à jour le plat</span>
                                <span style="display:none;">Mettre à jour</span>
                            </button>
                            <button type="button" class="button" onclick="showDeleteConfirmationModal(this)" style="border: none; background: none;">
                                <i class="fas fa-trash" style="color: red; font-size: 24px;"></i>
                                <span class="tooltip">Supprimer le plat</span>
                                <span style="display:none;">Supprimer</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>