<div class="orderSummary flex-col items-center w-full mt-4">
    <div th:each="orderDish : ${order.getOrderDishesDto()}" class="dish w-full flex flex-col items-center mb-4">
        <div class="dish-card">
            <h1 th:text="|Plat : ${orderDish.getDish().getName()}|" class="status"></h1>
            <div class="order-details">
                <p><strong>Prix Unitaire (€) :</strong> <span class="result" th:text="${orderDish.getDish().getPrice()}"></span></p>
                <p><strong>Quantité :</strong> <span class="result" th:text="${orderDish.getQuantity()}"></span></p>
                <p><strong>Commentaire :</strong> <span class="result" th:text="${orderDish.getComment()}"></span></p>
            </div>
        </div>
    </div>
</div>