<div id="orderStatusTarget" class="flex flex-col items-center w-full">
    <div th:each="order : ${orders}" class="dish w-full flex flex-col items-center mb-4">
        <div class="order-info relative">
            <h1 th:text="|Statut de la Commande : ${order.getOrderStatus()}|"
                th:class="${order.getOrderStatus().name() == 'PENDING' ? 'status pending' :
                       order.getOrderStatus().name() == 'VALIDATED' ? 'status validated' :
                       order.getOrderStatus().name() == 'CANCELED' ? 'status cancel' :
                       order.getOrderStatus().name() == 'PREPARING' ? 'status preparation' :
                       order.getOrderStatus().name() == 'READY' ? 'status ready' : ''}"
                class="status">
            </h1>
            <p><strong>Numéro de Commande : <span class="result" th:text="${order.getOrderId()}"></span></strong></p>
            <p><strong>Total Payé : <span class="result" th:text="${order.getTotalAmount()} + ' €'"></span></strong></p>
            <p><strong>Numéro de la Table : <span class="result" th:text="${order.getTableNumber()}"></span></strong>
            </p>
            <button
                    class="order-button absolute bottom-4 right-4"
                    th:data-id="${order.getOrderId()}"
                    onclick="getOrderSummary(this.dataset.id)"></button>
        </div>
    </div>
</div>
