<div id="orderDetailsModal" class="modal" style="display:none;">
    <div class="modal-content" id="orderDetailsContent">
        <!-- Le contenu sera inséré ici par HTMX -->
        <h2>Détails des Commandes</h2>
        <!-- Boucle sur les commandes -->
        <div th:each="order : ${ordersNotification.getData()}" class="order-details">
            <p><strong>ID de la Commande:</strong> <span th:text="${order.getOrder().getOrderId()}"></span></p>
            <p><strong>Client:</strong> <span th:text="${order.getOrder().getCustomerLogin()}"></span></p>
            <p><strong>Table:</strong> <span th:text="${order.getOrder().getTableNumber()}"></span></p>
            <p><strong>Total:</strong> <span th:text="${order.getOrder().getTableNumber()} + ' €'"></span></p>
            <p><strong>Date de Commande:</strong> <span
                    th:text="${#dates.format(order.getOrder().getOrderDate(), 'dd/MM/yyyy HH:mm')}"></span></p>
            <h3>Plats Commandés:</h3>
            <ul>
                <li th:each="dish : ${order.getOrder().getOrderedDishes()}"
                    th:text="${dish.getName()} + ' - ' + ${dish.getPrice()} + ' €'"></li>
            </ul>
            <hr>
        </div>
    </div>
</div>