<!-- src/main/resources/templates/alert/alerts.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Alerts</title>
</head>
<body>
<div th:fragment="alert-danger(message)">
    <div class="alert alert-danger"
         style="margin-top: 20px; border: 1px solid #ff0000; background-color: #f8d7da; color: #721c24; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <strong>Erreur !</strong> <span th:text="${message}"></span>
    </div>
    <script>setTimeout(function () {
        document.querySelector('.alert-danger').remove();
    }, 5000);</script>
</div>

<div th:fragment="toast-danger(message)">
    <div class="toast bg-red-600 text-white p-4 rounded-lg shadow-lg mb-4 w-full max-w-xs absolute bottom-16 reset">
        <strong>Erreur !</strong> <span th:text="${message}" id="toast-message"></span>
    </div>
    <script>
        const toast = document.querySelector('.toast');
        toast.classList.remove('reset'); // Supprime la classe reset pour appliquer les styles de transition
        toast.classList.add('show');

        setTimeout(() => {
            toast.classList.remove('show');
            toast.classList.add('reset'); // Réinitialise le toast après avoir retiré la classe show
            setTimeout(() => {
                toast.remove(); // Supprime le toast après l'animation
            }, 500); // Temps pour l'animation de retrait
        }, 3000);
    </script>
</div>

<div th:fragment="alert-warning-single(message)">
    <div class="alert alert-warning"
         style="margin-top: 20px; border: 1px solid #ffc107; background-color: #fff3cd; color: #856404; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <strong>Attention !</strong> <span th:text="${message}"></span>
    </div>
    <script>setTimeout(function () {
        document.querySelector('.alert-warning').remove();
    }, 5000);</script>
</div>

<div th:fragment="alert-warning-multiple(message)">
    <div class="alert alert-warning"
         style="margin-top: 20px; border: 1px solid #ffc107; background-color: #fff3cd; color: #856404; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <strong>Attention !</strong>
        <ul>
            <li th:each="message : ${messages}" th:text="${message}"></li>
        </ul>
    </div>
    <script>
        setTimeout(function () {
            document.querySelector('.alert-warning').remove();
        }, 5000);
    </script>
</div>

<div th:fragment="alert-success(message)">
    <div class="alert alert-success"
         style="margin-top: 20px; border: 1px solid #28a745; background-color: #d4edda; color: #155724; padding: 15px; border-radius: 5px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        <strong>Succès !</strong> <span th:text="${message}"></span>
    </div>
    <script>setTimeout(function () {
        document.querySelector('.alert-success').remove();
    }, 5000);</script>
</div>
</body>
</html>