<div id="menu">
    <div th:each="category : ${T(pheninux.xdev.gestork.model.Category).values()}">
        <h2 th:text="${category.description}"></h2>
        <div class="dish" th:each="dish : ${dishes}"
             th:if="${dish.category == category}">
            <img th:src="'data:image/png;base64,' + ${dish.image}" th:alt="${dish.name}"/>
            <div class="details">
                <div class="description">
                    <h3 th:text="${dish.name}"></h3>
                    <p th:text="${dish.description}"></p>
                </div>
                <div class="price">
                    <span th:id="${dish.name}" th:text="${dish.price}+' €'" ></span>
                    <!--span class="price-special" th:text="'Promo : ' + ${dish.specialPrice} + '€ (-' + ${dish.discount} + '%)'"></span-->
                    <i class="fas fa-plus-circle" style="cursor: pointer; margin-left: 15px"
                       th:data-name="${dish.name}"
                       th:data-price="${dish.price}"
                       onclick="addToCart(this.dataset.name, this.dataset.price)"></i>
                </div>
            </div>
        </div>
    </div>
</div>